{% extends "layout.html" %}

{% block body %}
    <div class="container">
		<div class="body-container">
			<img src="{{url_for('static', filename='images/front.png')}}" alt="inside building image not found">
			<div class="index-body-background">
				<h1>Contact</h1>
                <div class="contact_info">
				    <div class="paragraph">
					    Addresse: Soltunvegen 1, 4050 Sola <br> Tlf: 12345678 <br> <Epost></Epost>: jan.rege@lyse.net
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}