{% extends "layout.html" %}

{% block body %}
    <div class="container">
		<div class="body-container">
			<img src="{{url_for('static', filename='images/front.png')}}" alt="inside building image not found">
			<div class="our-businesses-background">
				<h1>Våre Bedrifter</h1>
                <div class="businesses">
					<div class="business-trio">
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/sola_psykologene_logo.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="https://www.solapsykologene.no" target="_blank">
									Solapsykologene AS
								</a>
							</div>
						</div>
						<div class="business">
							<div class="business-logo">
								<!--<img src="{{url_for('static', filename='images/logos/sola_psykologene_logo.png')}}" alt="hviding logo not found"> -->
							</div>
							<div class="business-title">
								<a href="https://hviding.no" target="_blank">
									Totalterapi Malin Schefstrøm
								</a>
							</div>
						</div>
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/fotogen_as_logo.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="https://www.fotogen-steen.net/hjem" target="_blank">
									Fotogen AS
								</a>
							</div>
						</div>
					</div>
					<div class="business-trio">
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/bli_z_as_logo.jpg')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="https://bliz.as" target="_blank">
									Bli Z AS
								</a>
							</div>
						</div>
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/hviding_logo.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="https://hviding.no" target="_blank">
									Hviding Begravelsesbyrå
								</a>
							</div>
						</div>
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/hveding_logo.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="http://www.beh.no" target="_blank">
									Låsesmedmester Hvedig AS
								</a>
							</div>
						</div>
					</div>
					<div class="business-trio">
						<div class="business">
							<div class="business-logo">
								<!-- <img src="{{url_for('static', filename='images/logos/bli_z_as_logo.jpg')}}" alt="SKF logo not found"> -->
							</div>
							<div class="business-title">
								<a href="https://solakristnefellesskap.no" target="_blank">
									Sola Kristne Felleskap
								</a>
							</div>
						</div>
						<div class="business">
							<div class="business-logo">
								<!-- <img src="{{url_for('static', filename='images/logos/hørselssentere_sola.png')}}" alt="hviding logo not found"> -->
							</div>
							<div class="business-title">
								<a href="https://www.horselssenteretsola.no" target="_blank">
									Hørselssenteret Sola
								</a>
							</div>
						</div>
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/solabladet.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="http://www.solabladet.no" target="_blank">
									Solabladet
								</a>
							</div>
						</div>
					</div>
					<div class="business-trio">
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/solabladet.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="http://www.solabladet.no" target="_blank">
									Sr-eiendom AS
								</a>
							</div>
						</div>
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/solabladet.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="http://www.solabladet.no" target="_blank">
									Sr-bank ASA
								</a>
							</div>
						</div>
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/solabladet.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="http://www.solabladet.no" target="_blank">
									Frysørsalongen Sola Florya
								</a>
							</div>
						</div>
					</div>
					<div class="business-trio">
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/solabladet.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="http://www.solabladet.no" target="_blank">
									Sr-eiendom AS
								</a>
							</div>
						</div>
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/solabladet.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="http://www.solabladet.no" target="_blank">
									Sr-bank ASA
								</a>
							</div>
						</div>
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/solabladet.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="http://www.solabladet.no" target="_blank">
									Frysørsalongen Sola Florya
								</a>
							</div>
						</div>
					</div>
					<div class="business-trio">
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/solabladet.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="http://www.solabladet.no" target="_blank">
									Sr-eiendom AS
								</a>
							</div>
						</div>
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/solabladet.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="http://www.solabladet.no" target="_blank">
									Sr-bank ASA
								</a>
							</div>
						</div>
						<div class="business">
							<div class="business-logo">
								<img src="{{url_for('static', filename='images/logos/solabladet.png')}}" alt="hviding logo not found">
							</div>
							<div class="business-title">
								<a href="http://www.solabladet.no" target="_blank">
									Frysørsalongen Sola Florya
								</a>
							</div>
						</div>
					</div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}

