{% extends "layout.html" %}

{% block body %}
    <div class="container">
		<div class="body-container">
			<img src="{{url_for('static', filename='images/inside_building.png')}}" alt="inside building image not found">
			<div class="properties-body-background">
				<div class="properties">
					<div class="property">
						<div class="property-image-container">
							<img src="{{url_for('static', filename='images/properties/property_1/property1.jpg')}}" alt="property1 not found">
						</div>
						<div class="property-text">
							<h3>Property 1</h3>
							-lorem <br> -ipsum <br> -dolor <br> -sit <br> -amet
						</div>
					</div>
					<div class="property-seperator"></div>
					<div class="property">
						<div class="property-image-container">
							<img src="{{url_for('static', filename='images/properties/property2.jpg')}}" alt="property2 not found">
						</div>
						<div class="property-text">
							<h3>Property 2</h3>
							-lorem <br> -ipsum <br> -dolor <br> -sit <br> -amet
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}