{% extends "layout.html" %}

{% block body %}
    <div class="container">
		<div class="body-container">
			<img src="{{url_for('static', filename='images/side.png')}}" alt="inside building image not found">
			<div class="properties-body-background">
				<div class="properties">
					<div class="property">
						<div class="property-image-container">
							<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slideshow.css') }}">
    <div class="slidershow middle">

      <div class="slides1">
        <input type="radio" name="r1" id="r101" checked>
        <input type="radio" name="r1" id="r102">
        <input type="radio" name="r1" id="r103">
        <input type="radio" name="r1" id="r104">
        <input type="radio" name="r1" id="r105">
        <input type="radio" name="r1" id="r106">
        <input type="radio" name="r1" id="r107">
        <div class="slide s1">
          <img src="{{url_for('static', filename='images/property1/couch.jpg')}}" alt="101 not found">
        </div>
        <div class="slide">
          <img src="{{url_for('static', filename='images/property1/common.jpg')}}" alt="102 not found">
        </div>
        <div class="slide">
          <img src="{{url_for('static', filename='images/property1/office1.jpg')}}" alt="103 not found">
        </div>
        <div class="slide">
          <img src="{{url_for('static', filename='images/property1/office2.jpg')}}" alt="104 not found">
        </div>
        <div class="slide">
          <img src="{{url_for('static', filename='images/property1/office3.jpg')}}" alt="105 not found">
        </div>
        <div class="slide">
          <img src="{{url_for('static', filename='images/property1/office4.jpg')}}" alt="106 not found">
        </div>
        <div class="slide">
          <img src="{{url_for('static', filename='images/property1/closet.jpg')}}" alt="107 not found">
        </div>
      </div>

      <div class="navigation">
        <label for="r101" class="bar"></label>
        <label for="r102" class="bar"></label>
        <label for="r103" class="bar"></label>
        <label for="r104" class="bar"></label>
        <label for="r105" class="bar"></label>
        <label for="r106" class="bar"></label>
        <label for="r107" class="bar"></label>
      </div>
    </div>
						</div>
						<div class="property-text">
							<h3>Lokale nr. 1</h3>
							-lorem <br> -ipsum <br> -dolor <br> -sit <br> -amet
						</div>
					</div>
					<div class="property-seperator"></div>
					<div class="property">
						<div class="property-image-container">
							<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slideshow.css') }}">
    <div class="slidershow middle">

      <div class="slides2">
        <input type="radio" name="r2" id="r201" checked>
        <input type="radio" name="r2" id="r202">
        <input type="radio" name="r2" id="r203">
        <input type="radio" name="r2" id="r204">
        <input type="radio" name="r2" id="r205">
        <div class="slide s2">
          <img src="{{url_for('static', filename='images/property2/property21.jpg')}}" alt="201 not found">
        </div>
        <div class="slide">
          <img src="{{url_for('static', filename='images/property2/property22.jpg')}}" alt="202 not found">
        </div>
        <div class="slide">
          <img src="{{url_for('static', filename='images/property2/property23.jpg')}}" alt="203 not found">
        </div>
        <div class="slide">
          <img src="{{url_for('static', filename='images/property2/property24.jpg')}}" alt="204 not found">
        </div>
        <div class="slide">
          <img src="{{url_for('static', filename='images/property2/property25.jpg')}}" alt="205 not found">
        </div>
      </div>

      <div class="navigation">
        <label for="r201" class="bar"></label>
        <label for="r202" class="bar"></label>
        <label for="r203" class="bar"></label>
        <label for="r204" class="bar"></label>
        <label for="r205" class="bar"></label>
      </div>
    </div>
						</div>
						<div class="property-text">
							<h3>Lokale nr. 2</h3>
							-lorem <br> -ipsum <br> -dolor <br> -sit <br> -amet
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}